@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* logine page  */
.logo img{
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    margin-top: -70px;
}
.login-page .lonk{
    margin-top: 10px;
}
.login-page a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-size: 0.6rem;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
}
.login-page a:hover{
    color: rgb(255, 187, 1);
}
.login-page .login-components{
    height: 33vh;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 50vw;
}
.brand-name{
    font-size: 1.7rem;
    color: rgb(0, 255, 0);
    margin-top: 13px;cursor: pointer;
}
.bizmo-brand-name{
    color: rgb(0, 255, 0);
}
.login-page .login-section{
    padding: 10px;
border: 1px solid whitesmoke;
border-radius: 10px;
cursor: pointer;
}
.login-section .google-img{
    width: 20px;
}
.login-section span{
    font-family: sans-serif;
    font-size: 13px;
}
.signup-message{
    font-size: 10px;
    margin-left: 5px;
    font-family: sans-serif;
}
.signup-link{
    font-size: 10px;
    color: black;
    cursor: pointer;
   margin-left: -19px;
}
@media screen and (max-width: 690px){
    .login-page .login-components{
        width: 90vw;
    }
}
@media screen and (max-width: 500px){
    .login-page .login-components{
        width: 100vw;
    }
}

/* home page css  start */
.header{
    height: 80px;
}
.header-icon{
    font-size: 17px;
    color: rgb(116, 111, 111);
    cursor: pointer;
}
.business-btn{
    border: none;
    background: none;
    font-size: 15px;
    color: rgb(3, 173, 3);
    font-weight: 600;
    margin-top: 20px;
}
.order-btn{
    border: none;
    background: none;
    font-size: 15px;
    color: rgb(117, 126, 117);
    font-weight: 600;
    margin-top: 20px;
}
.profile_photo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 17px;
    cursor: pointer;
}
.home_page_manue-icon{
    font-size: 25px;
    cursor: pointer;
}
.header .search-icon{
    font-size: 17px;
    margin-top: 13px;
    margin-left: -19px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 41px;
    padding-top: 7px;
    height: 41px;
    cursor: pointer;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-serch-bar{
    width: 37vw;
    height: 37px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    border: 1px solid rgb(219, 215, 215);
}
@media(min-width:992px){
    .header-order-bussiness-profileImg-section{
        margin-right: 200px;
    }
   
   .header-logo-serchbar-serch-icon{
    margin-left: 131px;
   }
}

/* footer css  */
.footer{
    color: white;
    height: 20vh;
    margin: 0px;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    margin: 10px;
    width: 97%;
    font-size: 10px;
    font-weight: 600;
    font-family: sans-serif;
    padding-top: 57px;
}